<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Família</title>
</head>
<body>
    <header >  
        <img class="logo" src="../static/img/log.png" alt="logo">  

        <nav class="tnav">
            <div>
                <ul class="menu">
                    <li class="li"><a href="../templates/home.html">Home  </a></li>
                    <li class="li"><a href="../templates/familia-1.html">família  </a></li>
                    <li class="li"><a href="../templates/informaeduca.html">informações educacionais</a></li>
                    <li class="li"><a href="../templates/portfólio.html">portfólio</a></li>
                    <li class="li"><a href="../templates/interesses.html">interesses relevantes</a></li>
                </ul>
            </div>
        </nav>
               
    </header>       
       
        <section>    
            <div> 
              
                <img class= "foto1" src="../static/img/mae.png" alt="foto mae">
                <img class= "foto2" src="../static/img/fam.png" alt="foto fam">
            </div>
                <h1 id=h1>
                    Meus bens mais preciosos
                </h1>
                                              
            </div>
        <div>
            <div>
                <img class="foto-back" src="../static/img/mohammad-rahmani-Y5yxdx2a4PI-unsplash.png" alt="foto fundo">
            </div>
            
            <footer class="redes-sociais">
                
                <div>
                    <a href="https://www.instagram.com/rikio.anzai" target="_blank" rel="external"><img
                        src="../static/img/insta.png" alt="Instagram"></a>
                </div>
                    
                                                  
            </footer>
        </div>      
           
        </div>  
        </section>

       </body>