<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home</title>
</head>
<body>
    <header >  
        <img class="logo" src="../static/img/log.png" alt="logo">  

        <nav class="tnav">
            <div>
                <ul class="menu">
                    <li class="li"><a href="">Home  </a></li>
                    <li class="li"><a href="../templates/familia-1.html">família  </a></li>
                    <li class="li"><a href="../templates/informaeduca.html">informações educacionais</a></li>
                    <li class="li"><a href="../templates/portfólio.html">portfólio</a></li>
                    <li class="li"><a href="../templates/interesses.html">interesses relevantes</a></li>
                </ul>
            </div>
        </nav>
       
        
    </header>       
       
        <section>    
            <div>
                 <img class="foto" src="../static/img/foto rikio.png" alt="foto">
            <div>
                <p class="p1">
                Meu nome é Rikio Anzai, aqui ficará descrita a apresentação do meu currículo, projetos futuros e outras informações pertinentes.
                Email: rikanzai@hotmail.com 
                </p>                             
            </div>
        <div>
            <div>
                <img class="foto-back" src="../static/img/mohammad-rahmani-Y5yxdx2a4PI-unsplash.png"" alt="foto fundo">
            </div>
            
            <footer class="redes-sociais">
                
                <div>
                    <a href="https://www.instagram.com/rikio.anzai" target="_blank" rel="external"><img
                        src="../static/img/insta.png" alt="Instagram"></a>
                </div>
                    
                   
                
                
            </footer>
        </div>      
           
        </div>  
        </section>

       </body>