<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link  css do boostrap-->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- link css próprio do sistema-->
    <link rel = "stylesheet"href= "../static/css/style.css">
    <title>Home</title>
</head>
<body>
    <header >  
        <img class="logo" src="../static/img/Rikio Anzai Logotipo.png" alt="logo">  
    </header>    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
         
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">HOME </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/familia">FAMÍLIA</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/informa">INFORMAÇÕES EDUCACIONAIS</a>
        </li>
        <li class="nav-item">
           <a class="nav-link" href="/portfolio">PORTFÓLIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/interesses">INTERESSES RELEVANTES</a>
        </li>
  
      
    </nav>
    <section> 
        <div> 
            <img class = "foto_resp" src="../static/img/rikio3.jpeg" alt = "foto_rikio">
       </div>
     
    
       <div class="lih_1_resp">
            <p>Eu sou Rikio Anzai, apresento o meu currículo, projetos futuros e outras informações pertinentes. email: rikanzai@hotmail.com </p>
       </div>                             
    
    </section>
      

        
            <div>
                <img class="foto-back" src="../static/img/foto-predio.png" alt="foto fundo">
            </div>
            
            <footer class="redes-sociais">
                
                <div>
                    <a href="https://www.instagram.com/rikio.anzai" target="_blank" rel="external"><img
                       src="../static/img/insta.png" alt="Instagram"></a>

                    <a href="https://github.com/rikioanzai" target="_blank" rel="external"><img
                       src="../static/img/github.svg" alt="Instagram"></a>
                      
                </div>
                                  
                
            </footer>
         
           
            </div>  
    
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

       </body>
       </html>
