<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--link  css do boostrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
    <!-- link css próprio do sistema-->
    
      <link rel="stylesheet" href="../static/css/inter.css">

    <title>interesses relevantes</title>
</head>
<body>
    <header >  
       <img class="logo" src="../static/img/Rikio Anzai Logotipo.png" alt="logo">  

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
              <ul class="navbar-nav mr-auto">
               
                </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../templates/index.html">HOME </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../templates/familia-1.html">FAMÍLIA</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../templates/informaeduca.html">INFORMAÇÕES EDUCACIONAIS</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="../templates/portfólio.html">PORTFÓLIO</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../templates/interesses.html">INTERESSES RELEVANTES</a>
                  </li>
            
          </nav>
               
               
    </header>       
       
        <section>    

            <div>
                <h1 class="h_inter">Interesses relevantes</h1>
                    
                    <ul class="li3">
                        
                        <li>Turismo;</li>
                        <li>Karatê;</li>
                        <li>Esportes automotivos, como: Formula 1, Stock car;</li>
                        <li>Prática diária de caminhada;</li>
                        <li>Surf;</li>
                        <li>Aviões.</li>
                    </ul>                           
                         
                   
        <div>
            <div>
                <img class="foto-back" src="../static/img/foto-predio.png" alt="foto fundo">
            </div>
            
            <footer class="redes-sociais">
                
                <div>
                    <a href="https://www.instagram.com/rikio.anzai" target="_blank" rel="external"><img
                        src="../static/img/insta.png" alt="Instagram"></a>
                        
                    <a href="https://github.com/rikioanzai" target="_blank" rel="external"><img
                        src="../static/img/github.svg" alt="Instagram"></a>
                </div>
                    
                                                  
            </footer>
        </div>      
           
        </div>  
        </section>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

       </body>