<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>portfólio</title>
</head>
<body>
    <header >  
        <img class="logo" src="../static/img/log.png" alt="logo">  

        <nav class="tnav">
            <div>
                <ul class="menu">
                    <li class="li"><a href="../templates/home.html">Home  </a></li>
                    <li class="li"><a href="../templates/familia-1.html">família  </a></li>
                    <li class="li"><a href="../templates/informaeduca.html">informações educacionais</a></li>
                    <li class="li"><a href="../templates/portfólio.html">portfólio</a></li>
                    <li class="li"><a href="../templates/interesses.html">interesses relevantes</a></li>
                </ul>
            </div>
        </nav>
    </header>       
       
        <main>    
            <section>

                <h1 class="hcurso1">Trabalhos Desenvolvidos:</h1>
                        <ul class="li1">
                    
                             <li>Implantação do Sistema ISO 9000 na Petrobras Transporte S.A;</li>
                             <li>Auditoria no Sistema da Garantia da Qualidade dos produtos: QAV-1, Diesel e Gasolina;</li>
                             <li>Implantação  da certificação do Sistema ISO 14000 e 9000;</li>
                        </ul>   
                                       
            </div>
            <div>
                <h1 class="hcurso2">Trabalhos a serem Desenvolvidos:</h1>
                <ul class="li2">
            
                     <li>Projeto em desenvolvimento de software - API - Aprendizagem por projetos integrados na Fatec/SJC;</li>
                     <li>Projeto de desenvolvimento de um sistema na disciplina de Design Digital na Fatec/SJC;</li>
                     
                </ul>   


            </div>
      
            <div>
                <img class="foto-back" src="../static/img/mohammad-rahmani-Y5yxdx2a4PI-unsplash.png" alt="foto fundo">
            </div>
            
            <footer class="redes-sociais">
                
                <div>
                    <a href="https://www.instagram.com/rikio.anzai" target="_blank" rel="external"><img
                        src="../static/img/insta.png" alt="Instagram"></a>
                </div>
                    
                   
                
                
            </footer>
        </div>      
           
        </div>  
            </section>

       </body>